html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(91, 102, 115, 0.35);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(91, 102, 115, 0.55);
}

.recharts-wrapper,
.recharts-surface {
  overflow: visible;
}
